body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#location {
    display: grid;
    gap: 0rem;
    grid-template-columns: auto auto;
}

#location div {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 6px 0px;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

.header div {
    margin: 10px;
}

.header button {
    margin: 10px;
    border-radius: 10px;
    width: 80px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0px 0 3px;
    transition: all 0.3s ease;
}

.header button:hover {
    background-color: #b9b9b9;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0 7px black;
}

.header select,
.header input {
    padding: 5px;
    margin-left: 10px;
}

.map {
    flex-grow: 1;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.map-placeholder {
    background-color: #eaeaea;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
}